@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  font-family: 'Oxygen', sans-serif !important;
}

/********** HEADER **********/
.header {
  height: 8em;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top .5s ease-in-out;
  z-index: 2;
}

.logo {
  padding: 1em 0em;
  height: 8em;
  transition: drop-shadow .4s ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0px 0px .5px #fff);
}

.nav {
  margin-top: 2em;
  margin-right: .5em;
  font-size: 1.1em;
}

.active {
  background-color: transparent;
  color: #fff !important;
}

.nav-pills li a {
  transition: all .4s ease-in-out;
  padding: 1em .5em;
}

.nav-pills li a:hover, .nav-pills li a:focus {
  background-color: transparent !important;
  color: #fff !important;
  text-shadow: 0px 0px 2px #fff;
}
/********** END HEADER **********/

/********** BASIC MODULES **********/
.blue-text {
  color: #67809F;
}

.white-text {
  color: #DADFE1;
}

.nav-down {
  top: 0;
}

.nav-up {
  top: -8em;
}

.gray-background {
  background-color: #DADFE1;
}

.blue-background {
  background-color: #67809F;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}
/********** END BASIC MODULES **********/

/********** MAIN PAGE **********/
.introduction {
  padding-top: 11em;
}

.image-size {
  height: 25em;
  margin: 2em 0em;
  max-width: 100%;
}

.icon-size {
  height: 4em;
  margin: 2em 0em;
}

.bottom-margin {
  margin-bottom: 2em;
}

.top-border {
  border-top: .2em solid #22313F;
}

.top-header {
  margin-top: 1em;
}

.front-links, .front-links:hover, .front-links:focus {
  color: inherit;
  text-decoration: none;
}
/********** END MAIN PAGE **********/

/********** PORTFOLIO PAGE **********/
.well {
  background-color: #22313F;
  border-radius: 0em;
  border: none;
}

.skills {
  padding: 3px 10px;
  background-color: #ececec;
  color: #22313F;
  border-radius: 30px;
  margin: 5px 10px;
  display: inline-block;
}

.wrapper {
  overflow: hidden;
}

.portfolio-text {
  color: #fff;
  text-shadow: .1em .1em .1em #666;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all .6s ease;
}

.portfolio-link:hover .portfolio-text {
  opacity: 1;
}

.portfolio-image {
  width: 100%;
  max-height: 50em;
          transform: scale(1);
  -webkit-transform: scale(1);
  transition: all .8s ease;
}

.portfolio-link:hover .portfolio-image {
  filter: blur(.1em);
          transform: scale(1.5);
  -webkit-transform: scale(1.5);
}
/********** END PORTFOLIO PAGE **********/

/********** BLOG PAGE **********/
.blog-image {
  width: 85%;
  max-width: 900px;
  height: auto;
}

.credit-tag {
  margin-left: 5em;
}

.first-letter {
  font-size: 5em;
  float: left;
  padding: 0 10px 0 0;
  line-height: .8em;
}

.blog-text {
  font-size: 1.25em;
}

.blog-quote {
  float: right;
  width: 50%;
  padding: 2px;
  margin: 10px;
  font-weight: bold;
  box-shadow: 2px 2px 5px #22313F;
  background-color: #DADFE1;
}

.blog-quote:before {
  content: open-quote;
  color: #67809F;
  line-height: 1em;
  margin-left: -75%;
  font-size: 5em;
}

.blog-quote:after {
  content: close-quote;
  color: #67809F;
  line-height: 0em;
  vertical-align: -.5em;
  font-size: 5em;
  margin-left: 75%;
}

.blog-quote blockquote {
  margin-top: -1.5em;
  padding: 0 10px 10px 10px;
  border-left: none;
}

.blog-pic {
  float: left;
  width: 50%;
  padding: 2px;
  margin: 0 12px 12px 0;
  box-shadow: 2px 2px 5px #22313F;
}

.blog-pic-image {
  display: block;
  width: 100%;
  padding: 1em;
}

.blog-pic p {
  margin-top: 1em;
  font-size: 1em;
  text-align: center;
}

.blog-pic blockquote {
  border-left: none;
  margin: 0;
  padding: 10px;
}
/********** END BLOG PAGE **********/

/********** ABOUT PAGE **********/

.profile-picture {
  border-radius: 100%;
}

.about-link {
  color: inherit;
  text-decoration: none;
  transition: text-shadow .4s ease-in-out;
}

.about-link:hover, .about-link:hover {
  color: inherit;
  text-decoration: none;
  text-shadow: 0px 0px .5px #ececec;
}

.about-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accomp-title {
  font-size: 2.5em;
}

.accomp p {
  width: 95%;
  font-size: 1em;
}

.accomp p a {
  text-decoration: none;
  color: #1E824C;
  transition: text-shadow .4s ease-in-out;
}

.accomp p a:hover {
  text-shadow: 0px 0px .5px #1E824C;
}

.accomp-height {
  height: 6em;
  font-size: 1em;
}

.icon-size-accomp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: auto;
  height: 2em;
}

hr {
  width: 100%;
  border-color: #67809F;
  padding: 0; 
  border-width: 2px;
}

.portfolio-hr {
  border-color: #DADFE1;
  padding: 10px 0;
  margin: 30px auto;
}

.contact-link:hover {
  text-decoration: none;
}

.contact-link:focus {
  text-decoration: none;
}
/********** END ABOUT PAGE **********/

/********** FOOTER **********/
.footer p {
  line-height: 2em;
  font-size: 1em;
}

.footer-header {
  margin-top: 2em;
}

.dark-background {
  background-color: #22313F;
}

.footer a {
  color: inherit;
  font-size: 1.5em;
  padding: 0 1em;
  text-decoration: none;
}
/********** END FOOTER **********/

@media screen and (min-width: 760px) {
  
  .nav-pills li a {
    padding: 1.5em 2.5em;
  }
  
  .accomp-title {
    font-size: 3em;
  }
  
  .accomp-height {
    height: 6em;
    font-size: 1.25em;
  }
  
  .icon-size-accomp {
    height: 3em;
  }
  
}